*{
    padding: 0;
    margin: 0;
}

.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #f9fafb;
    /* background-color: red; */
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    /* background-color:aquamarine; */
    height: 60%;
    width: 40%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}

.cardLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    /* background-color: blue; */
    font-size: 2em;
    height: 20%;
    width: 100%;
}

.cardLogo span{
    display: inline-block;
    /* background-color: red; */
    margin-left: -2px;
    transform: rotate(-35deg);
}

.cardLogo-div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    gap: 10px;
}

.cardLogo-div img{
    width: 35px;
}

.card-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    /* box-shadow: 0px .5px .5px; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* border: solid .5px black; */
    height: 50%;
    gap: 20px 0px;
    width: 100%;
    border-radius: 5px;
}

.card-form .form-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* background-color: brown; */
    width: 80%;
}

.form-div .form-div__p{
    font-weight: 500;
}

.form-div .form-div_label{
    font-size: 14px;
    color: gray;
    margin-bottom: 5px;
    margin-right: auto;
}

.form-div .form-div__input{
    width: 93%;
    height: 35px;
    border-radius: 5px;
    border: solid .5px black;
    outline: none;
    padding: 0px 10px;
}

.form-div .form-div__input:focus{
    border: solid .5px rgb(217, 170, 68);
}

.form-div__button1, .form-div__button2{
    width: 100%;
    height: 40px;
}

button{
    border-radius: 7px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: background-color .2s ease;
}

.form-div__button1{
    background-color:#dbefe0;
}

.form-div__button1:hover{
    background-color:#7ddb95;
    
}

.form-div__button2{
    background-color: #3e5d8b;
    color: white;
}

.form-div__button2:hover{
    background-color: #5683c6;
}


.cardFooter{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    color: gray;
    /* background-color: blue; */
    height: 10%;
    width: 100%;
    padding: 10px 0px;
}

.cardFooter-div .cardFooter-div__p{
    font-size: 14px;
}

.cardFooter-div .cardFooter-div__select{
    background: transparent; /* Elimina el fondo blanco */
    border: none; /* Elimina el borde predeterminado */
    outline: none; /* Elimina el contorno cuando el elemento está enfocado (ten en cuenta la accesibilidad) */
    width: 100px;
    color: gray;
}